/* Global settings */
#add-review-form input[type="number"] {
  color: black;
  width: 20%;
  background: #cccc;
}
#add-review-form input[type="text"],
[type="password"] {
  color: black;
}
h2 {
  color: whitesmoke;
}
.add-review-container form {
  color: whitesmoke;
  margin: 0 auto;
}
.add-reviews-push {
  height: 150px;
}
#submit-review-button:enabled {
  display: flex;
  display: inline-block;
  margin: 20% auto 0;
  height: 25px;
  width: 100%;
  border: 1px solid #6e7175;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);

  border-radius: 5px;
  color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#646d7e),
    to(#22242e)
  );
  cursor: pointer;
}
.react-calendar {
  margin: 10px 0 20px 0;
  color: black;
}

#submit-review-button:enabled:hover {
  color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#373f51),
    to(#060c0f)
  );
  cursor: pointer;
}
#submit-review-button:disabled {
  display: flex;
  display: inline-block;
  margin: 20% auto 0;
  height: 25px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: rgb(197, 195, 195);
}
.error {
  border: 2px solid red;
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .add-review-container form {
    width: 80%;
    padding: 10px;
  }

  #add-review-form input {
    width: 100%;
    font-size: 15px;
    display: block;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    background-color: #cccc;
    color: black;
  }
  #add-review-form label {
    font-size: 20px;
  }
  #required-fields {
    font-size: 1.1em;
  }
  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
  #rating > label {
    margin: 5px;
  }

  #rating > label {
    margin: 5px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .add-review-container form {
    width: 80%;
    padding: 10px;
  }

  #add-review-form input {
    width: 100%;
    font-size: 15px;
    display: block;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    background-color: #cccc;
    color: black;
  }
  #add-review-form label {
    font-size: 20px;
  }
  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
  #rating > label {
    margin: 5px;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .add-review-container form {
    width: 70%;
    padding: 10px;
  }

  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .add-review-container form {
    width: 80%;
    padding: 10px;
  }

  #add-review-form input {
    width: 100%;
    font-size: 15px;
    display: block;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    background-color: #cccc;
    color: black;
  }
  #add-review-form label {
    font-size: 20px;
  }

  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
  #rating > label {
    margin: 5px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .add-review-container form {
    width: 80%;
    padding: 10px;
  }

  #add-review-form input {
    width: 100%;
    font-size: 15px;
    display: block;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    background-color: #cccc;
    color: black;
  }
  #add-review-form label {
    font-size: 20px;
  }
  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
  #rating > label {
    margin: 5px;
  }
  #calendar {
    widows: 100px;
    height: 100%;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .add-review-container form {
    width: 80%;
    padding: 10px;
  }

  #add-review-form input {
    width: 100%;
    font-size: 15px;
    display: block;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    background-color: #cccc;
    color: black;
  }
  #add-review-form label {
    font-size: 20px;
  }
  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
  #rating > label {
    margin: 5px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .add-review-container form {
    width: 70%;
  }
  #add-review-form input {
    font-size: 15px;
    display: block;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    background-color: #cccc;
    color: black;
  }
  #add-review-form label {
    font-size: 20px;
  }
  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
  #rating > label {
    margin: 5px;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .add-review-container {
    min-height: 50%;
    margin-bottom: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .add-review-container form {
    width: 70%;
    padding: 10px;
  }

  #add-review-form label {
    font-size: 1.3em;
  }
  #add-review-form input {
    font-size: 1.1em;
    width: 100%;
    display: block;
    padding: 10px;
    background-color: #cccc;
  }

  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
}

h2 {
  text-align: center;
}

.react-calendar {
  width: 250px;
}

#add-review-form input {
  width: 100%;
  display: block;
  margin: 10px 0px 10px 0px;
  background-color: #cccc;
}
.add-reviews-push {
  height: 200px;
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .add-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .add-review-container form {
    width: 70%;
    padding: 10px;
  }

  #add-review-form label {
    font-size: 1.3em;
  }
  #add-review-form input {
    font-size: 1.1em;

    width: 100%;
    padding: 10px;
    display: block;
    margin: 10px 0px 10px 0px;
    background-color: #cccc;
  }
  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
  #add-review-form > #submit-review-button {
    font-size: 1em;
  }
}
/* ----------- Laptops and desktops -------------- */
/* ------ Non-Retina Screens ------ */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .add-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .add-review-container form {
    width: 40%;
    padding: 10px;
  }

  #add-review-form label {
    font-size: 0.8em;
  }
  #add-review-form input {
    width: 100%;
    /* padding: 10px; */
    display: block;
    margin: 10px 0px 10px 0px;
    background-color: #cccc;
  }
  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
  #required-fields {
    font-size: 0.7em;
  }
  #submit-review-button {
    padding: 3px;
    font-size: 0.7em;
  }
}

/* ------ Retina Screens ------ */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .add-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .add-review-container form {
    width: 40%;
    padding: 10px;
  }

  #add-review-form label {
    font-size: 0.8em;
  }
  #add-review-form input {
    width: 100%;
    /* padding: 10px; */
    display: block;
    margin: 10px 0px 10px 0px;
    background-color: #cccc;
  }
  #required-fields {
    font-size: 0.7em;
  }
  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
  #submit-review-button {
    padding: 3px;
    font-size: 0.7em;
  }
}
/* Large screens ----------- */
@media screen and (min-device-width: 1600px) {
  .add-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
  }
  .add-review-container form {
    width: 30%;
    padding: 10px;
  }

  #add-review-form label {
    font-size: 0.8em;
  }
  #add-review-form input {
    width: 100%;
    /* padding: 10px; */
    display: block;
    margin: 10px 0px 10px 0px;
    background-color: #cccc;
    font-size: 0.7em;
  }
  #required-fields {
    font-size: 0.7em;
  }
  #rating {
    width: 70%;
    display: flex;
    margin: 5% auto 0 0;
    flex-direction: row;
  }
  #submit-review-button {
    padding: 3px;
    font-size: 0.7em;
  }
}
