/* ----Global settings----- */
* {
  box-sizing: border-box;
}

.nav-wrapper {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 1;
  height: 50px;
  height: 2.5em;
}

.nav-links {
  justify-content: space-evenly;
}

nav {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to left, rgb(58, 69, 83), rgb(18, 18, 19));
  color: white;
  align-items: center;
  justify-items: center;
}

li {
  list-style-type: none;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0px;
  margin-right: 10px;
  font-size: larger;
}

.nav-links a {
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.nav-links a::after {
  border-bottom: 1px solid white;
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s ease-in;
}
.nav-links a:hover::after {
  width: 100%;
}
#logo {
  color: rgb(182, 182, 192);
  margin-left: 20px;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .nav-links {
    display: none;
  }
  #logo {
    margin: 0 23%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .nav-wrapper > a {
    display: none;
  }
  .spacer {
    flex: 1;
  }
  .hamburger-icon {
    display: none;
  }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #logo {
    margin: 0 25%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .spacer {
    flex: 1;
  }
  .hamburger-icon {
    display: none;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  #logo {
    margin: 0 30%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .spacer {
    flex: 1;
  }
  .hamburger-icon {
    display: none;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-links a {
    font-size: 1.2em;
  }
  .hamburger-icon {
    display: none;
  }
  .spacer {
    flex: 1;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-links a {
    font-size: 1.2em;
  }

  .spacer {
    flex: 1;
  }
  .hamburger-icon {
    display: none;
  }
}

/* -------Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .hamburger-icon {
    display: none;
  }
  .spacer {
    flex: 1;
  }
  .nav-links a:focus {
    color: #f3d112;
  }
}

@media screen and (min-device-width: 1600px) {
  .nav-wrapper {
    height: 30px;
  }

  .nav-links li {
    font-size: 0.8em;
  }
  .nav-links a:focus {
    color: #f3d112;
  }

  .hamburger-icon {
    display: none;
  }
  .spacer {
    flex: 1;
  }
}
