.signup-container {
  color: whitesmoke;
  padding-bottom: 20%;
}

.call-to-action > h2 {
  padding: 10% 0 5% 0;
  margin: 0;
}

.error {
  border: 2px solid red;
}
#register-button:enabled {
  display: flex;
  display: inline-block;
  margin: 5% auto 0;
  height: 25px;
  width: 100%;
  border: 1px solid #6e7175;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);

  border-radius: 5px;
  color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#646d7e),
    to(#22242e)
  );
  cursor: pointer;
}
#register-button:enabled:hover {
  color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#373f51),
    to(#060c0f)
  );
  cursor: pointer;
}
#register-button:disabled {
  display: flex;
  display: inline-block;
  margin: 5% auto 0;
  height: 25px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: rgb(197, 195, 195);
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .signup-form {
    padding: 0 10%;
  }
  #signup {
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
    padding: 15px;
  }

  #signup input[type="text"] {
    border-radius: 3px;

    background-color: #cccc;
    padding: 5px;
    width: 100%;
    display: inline-block;
    color: black;
  }

  #button {
    align-self: center;
  }

  #signup label {
    display: inline-block;
    padding: 5px 0 5px 0;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .signup-form {
    padding: 0 10%;
  }
  #signup {
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
    padding: 15px;
  }

  #signup input[type="text"] {
    border-radius: 3px;

    background-color: #cccc;
    padding: 5px;
    width: 100%;
    display: inline-block;
    color: black;
  }

  #button {
    align-self: center;
  }

  #signup label {
    display: inline-block;
    padding: 5px 0 5px 0;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 20%;
  }
  .signup-form {
    padding: 0 20%;
  }
  #signup {
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
    padding: 15px;
  }

  #signup input[type="text"] {
    border-radius: 3px;

    background-color: #cccc;
    padding: 5px;
    width: 100%;
    display: inline-block;
    color: black;
  }

  #button {
    align-self: center;
  }

  #signup label {
    display: inline-block;
    padding: 5px 0 5px 0;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-size: cover;
    background-position: center;
  }
  .signup-form {
    padding: 0 20%;
  }
  #signup {
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
    padding: 15px;
  }

  #signup input[type="text"] {
    border-radius: 3px;

    background-color: #cccc;
    padding: 5px;
    width: 100%;
    display: inline-block;
    color: black;
  }

  #button {
    align-self: center;
  }

  #signup label {
    display: inline-block;
    padding: 5px 0 5px 0;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .signup-container {
    padding-bottom: 20%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-size: cover;
    background-position: center;
  }
  .signup-form {
    padding: 0 20%;
  }
  #signup {
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
    padding: 15px;
  }

  #signup input[type="text"] {
    border-radius: 3px;

    background-color: #cccc;
    padding: 5px;
    width: 100%;
    display: inline-block;
    color: black;
  }

  #button {
    align-self: center;
  }

  #signup label {
    display: inline-block;
    padding: 5px 0 5px 0;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-size: cover;
    background-position: center;
    padding: 10% 10% 30%;
  }
  .signup-form {
    padding: 0 10%;
  }
  #signup {
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-size: cover;
    background-position: center;
  }
  .signup-form {
    padding: 0 15%;
  }
  #signup {
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
    padding: 15px;
  }
  #signup input[type="text"] {
    border-radius: 3px;

    background-color: #cccc;
    padding: 5px;
    width: 100%;
    display: inline-block;
    color: black;
  }
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-size: cover;
    background-position: center;
    padding: 0 20% 30%;
  }
  #signup {
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
    padding: 15px;
  }
  #signup input[type="text"] {
    border-radius: 3px;
    background-color: #cccc;
    padding: 10px;
    font-size: 1em;
    margin: 10px 0;
    width: 100%;
    display: inline-block;
    color: black;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-size: cover;
    background-position: center;
  }
  .signup-form {
    padding: 0 15%;
  }
  #signup {
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
    padding: 15px;
  }
  #signup input[type="text"] {
    border-radius: 3px;
    font-size: 1em;

    background-color: #cccc;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    display: inline-block;
    color: black;
  }
}

/* ----------- Laptops and desktops ------------ */

/* ----- Non-Retina Screens ---- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-size: cover;
    background-position: center;
  }
  .call-to-action > h2 {
    padding-top: 10%;
  }
  .signup-form {
    padding: 0 10%;
  }
  #signup {
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
    /* padding: 15px; */
  }
  #signup input[type="text"] {
    border-radius: 3px;

    background-color: #cccc;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    display: inline-block;
    color: black;
  }
}

/* ----- Retina Screens ------ */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-size: cover;
    background-position: center;
  }
  .signup-form {
    padding: 0 15%;
  }
  #signup {
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
    padding: 15px;
  }
  #signup input[type="text"] {
    border-radius: 3px;

    background-color: #cccc;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    display: inline-block;
    color: black;
  }
}

@media screen and (min-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .signup-container {
    background: url(../images/Resized/stage-small-B&W.png);
    background-size: cover;
    background-position: center;
  }
  .signup-form {
    padding: 0 25%;
  }

  #signup {
    font-size: 0.7em;
    background-color: rgba(39, 37, 37, 0.6);
    border-radius: 10px;
    padding: 15px;
    width: 50%;
    margin: 0 auto;
  }
  label {
    display: block;
  }
  #signup input[type="text"] {
    border-radius: 3px;
    font-size: 0.8em;
    justify-content: center;
    background-color: #cccc;
    margin: 5px 0;
    width: 100%;
    display: inline-block;
    color: black;
  }
  #required-fields {
    font-size: 0.8em;
  }
  #signup > button {
    font-size: 0.8em;
    display: inline-block;
  }
}
