.search-form > form {
  display: flex;
  flex-direction: row;
}

#search-form input {
  align-self: center;
  display: flex;
  width: 150px;
  height: 28px;
  background-color: #cccc;
  color: black;
  margin: 10px;
  border-radius: 6px;
}
