.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  /* background-image: url("../src/images/audience-backlit-blue-2078071.jpg"); */
  background-size: cover;
  color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}
a:hover {
  color: gray;
}
