.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url("../src/images/audience-backlit-blue-2078071.jpg");
  background-size: cover;
  color: whitesmoke;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
