h1 {
  padding-top: 100px;
}

.description {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 100px;
  line-height: 25px;
}

.header {
  font-family: "Josefin Sans", sans-serif;
}

.login {
  padding: 20px;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;
  color: black;
}

.greeting {
  padding: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: black;
}
