.login-form-container {
  display: flex;
  flex-direction: column;
}

.forgot-credentials {
  height: 50vh;
}

#signup {
  margin-right: auto;
  margin-left: auto;
  width: 30%;
}

.login-header {
  padding: 50px;
}
