* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;

  background-color: #373f51;
  color: white;
  height: 40px;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}
ul {
  display: flex;
}
.nav-wrapper > a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 10px;
}
