form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signup-form input,
textarea {
  background-color: #cccc;
  padding: 5px;
  display: inline-block;
  margin-left: 100px;
}

button {
  align-self: center;
  margin: 20px;
}

.text-input {
  display: inline-block;
}

#sign-form label {
  margin-right: 100px;
}
