form {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 70px;
  text-align: left;
}

input,
textarea {
  background-color: #cccc;
  padding: 5px;
}

label {
  padding: 5px;
}

button {
  align-self: center;
  margin: 20px;
}
